<link rel="icon" href="/static/favicon.svg">
<!-- echarts -->
<script src="/static/include/cdn/npm/echarts@5.3.3/dist/echarts.min.js"  type="module"></script>

<!-- vue -->
<script src="/static/include/cdn/ajax/libs/vue/2.6.11/vue.min.js"></script>

<!-- vuetify -->
<link  rel="stylesheet" href="/static/include/cdn/ajax/libs/vuetify/2.6.6/vuetify.min.css">
<script src="/static/include/cdn/ajax/libs/vuetify/2.6.6/vuetify.min.js"></script>

<!-- axios -->
<script src="/static/include/cdn/ajax/libs/axios/0.21.4/axios.min.js"></script>

<!-- vue-i18n -->
<script src="/static/include/cdn/ajax/libs/vue-i18n/8.25.1/vue-i18n.min.js"></script>

<!-- materialdesignicons -->
<link rel="stylesheet" href="/static/include/cdn/npm/@mdi/font@6.x/css/materialdesignicons.css">
<link href="/static/include/cdn/npm/@mdi/font@6.x/fonts/materialdesignicons-webfont.ttf">
<link href="/static/include/cdn/npm/@mdi/font@6.x/fonts/materialdesignicons-webfont.woff">
<link href="/static/include/cdn/npm/@mdi/font@6.x/fonts/materialdesignicons-webfont.woff2">

<!-- vue-cookies -->
<script src="/static/include/cdn/npm/vue-cookies@1.7.4/vue-cookies.min.js" type="module"></script>

<!-- vuetify-snackbar-message -->
<script src="/static/include/vuetify-snackbar-message.js"></script>
